package {{package}};

import com.homeadvisor.api.client.ApiCommand;
import com.homeadvisor.api.client.NonRetryableApiCommandException;
import com.homeadvisor.api.client.RetryableApiCommandException;
import com.homeadvisor.api.client.spring.SMSpringRestClient;
import com.homeadvisor.api.client.spring.SpringInstanceCallback;
import com.netflix.hystrix.exception.HystrixRuntimeException;

import com.servicemagic.ws.core.RestConstants;
import org.apache.curator.x.discovery.ServiceDiscovery;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.HttpEntity;
import org.springframework.http.HttpHeaders;
import org.springframework.http.HttpMethod;
import org.springframework.http.MediaType;
import org.springframework.stereotype.Service;
import org.springframework.web.util.UriComponentsBuilder;
import org.springframework.http.ResponseEntity;
import javax.annotation.PostConstruct;
import java.util.Collections;
import java.util.List;

{{#imports}}import {{import}};
{{/imports}}

{{#operations}}
@Service
public class {{classname}} extends SMSpringRestClient
{
   private static final Logger LOG = LoggerFactory.getLogger({{classname}}.class);
 
   @Value("${api.username}")
   private String username;

   @Value("${api.accesskey}")
   private String accesskey;

   @Autowired
   public {{classname}}(ServiceDiscovery serviceDiscovery)
   {
      super(serviceDiscovery);
   }

   @PostConstruct
   protected void setup() throws Exception
   {
      super.setup();
   }

   @Override
   public String getUser()
   {
      return username;
   }

   @Override
   public String getAccesskey()
   {
      return accesskey;
   }

    {{#operation}}
    /**
    * {{summary}}
    * {{notes}}
    {{#allParams}}
    * @param {{paramName}} {{description}}{{#required}} (required){{/required}}{{^required}} (optional{{^isContainer}}{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/isContainer}}{{/required}}
    {{/allParams}}
    {{#returnType}}
    * @return {{returnType}}
    {{/returnType}}
    
    {{#isDeprecated}}
    * @deprecated
    {{/isDeprecated}}
    {{#externalDocs}}
    * {{description}}
    * @see <a href="{{url}}">{{summary}} Documentation</a>
    {{/externalDocs}}
    */
    {{#isDeprecated}}
    @Deprecated
    {{/isDeprecated}}

    public {{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}{{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/allParams}})
    {
        {{#returnType}}{{{returnType}}} response = null; {{/returnType}}
        ApiCommand<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}ResponseEntity<Void>{{/returnType}}> command = null;

        try
        {
            String path = "{{{path}}}"{{#pathParams}}
                            .replaceAll("\\{" + "{{baseName}}" + 
                            "\\}", {{{paramName}}}.toString()){{/pathParams}}
                            .replace("/resource", "");
            
            command = restCommand(
                new SpringInstanceCallback{{#returnType}}<{{{returnType}}}>{{/returnType}}()
                { 
                    @Override
                    public {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Void{{/returnType}} runWithUrl(String url)
                    {
                        UriComponentsBuilder builder = UriComponentsBuilder
                                .fromUriString(url + path)
                                .queryParam(RestConstants.PARAM_USERNAME, getUser())
                                .queryParam(RestConstants.PARAM_ACCESS_KEY, getAccesskey());
                        
                        //add query params
                        {{#queryParams}}
                        builder.queryParam("{{paramName}}", String.valueOf({{paramName}}));
                        {{/queryParams}}

                        url = builder.build().toUriString();
                        return getRestTemplate(getContext().getCommandName()).exchange(
                                url,
                                HttpMethod.{{httpMethod}},
                                new HttpEntity({{#bodyParam}}{{paramName}}{{/bodyParam}}{{^bodyParam}}getJsonRequestHeader(){{/bodyParam}}),
                                new ParameterizedTypeReference<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Void{{/returnType}}>()
                                {
                                }
                        ).getBody();
                    }
                }
            ).build();

            {{#returnType}}response = {{/returnType}}command.execute();
        }
        catch (RetryableApiCommandException | NonRetryableApiCommandException | HystrixRuntimeException e)
        {
            logCommandException(LOG, command, e);
        }
        {{#returnType}}return response;{{/returnType}}
    }

    {{#-last}} 
    @Override
    public String getServiceName()
    {
        return "{{path}}".split("/")[2];
    }
    {{/-last}}
    {{/operation}}

    {{/operations}}
    private HttpHeaders getJsonRequestHeader()
    {
        HttpHeaders requestHeader = new HttpHeaders();
        requestHeader.setAccept(Collections.singletonList(MediaType.APPLICATION_JSON));
        requestHeader.setContentType(MediaType.APPLICATION_JSON);

        return requestHeader;
    }

    
}